.body-main {
    min-height: 1200px;
    background: linear-gradient(180deg, #c0e0f8 1.27%, rgba(125, 209, 248, 0.27) 126.64%);
    position: relative;
}
.Booking-Main-Body {
    position: absolute;
    width: 100%;
    top: 220px;
}
.custom-container {
    min-height: 800px;
    background-color: #F5F7F9;
}