﻿.payment-input-wrapper {
    display: flex;
    flex-direction: column;
}

.payment-label {
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.payment-input {
    padding: 6px 10px;
    outline: none;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.Previous_button {
}

.Countine_button {
}

.payment-zalopay {
    border: none;
    outline: none;
    background-color: #58A7FF;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px;
    margin-top: 20px;
}

.payment-zalopay-icon {
    height: 30px;
    width: 20px;
}

.last-total-sumary-total {
    font-weight: bold;
    font-size: 15px;
}

.last-total-sumary-value {
    font-weight: bold;
    font-size: 15px;
}

.last-total-sumary {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    padding-top: 10px;
    background-color: #fff;
    width: 250px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 30px;
}
