﻿@import url(../../../Fonts/font.css);
.react-calendar {
    font-family: KoHo, sans-serif;
}

.react-calendar__month-view__weekdays {
    font-size: 14px;
    font-family: KoHo, sans-serif;
    line-height: 1.33;
    text-transform: capitalize;
}

.react-calendar__tile--now {
    border: 1px solid #1976d2 !important;
    border-radius: 50% !important;
    background: none;
}

.react-calendar__tile--active {
    border: 1px solid #1976d2 !important;
    border-radius: 50% !important;
    background: #1976d2;
    color: white;
}

.react-calendar {
    padding: 0;
    background: #ffffff;
    border: none;
    width: 100%;
}
